[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target


[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/thepursuit
ExecStart=/home/ubuntu/.virtualenvs/oth/bin/gunicorn --access-logfile - --workers 3 --bind unix:/run/gunicorn.sock thepursuit.wsgi:application --settings=thepursuit.settings.production

[Install]
WantedBy=multi-user.target
